.DS_Store

*.debug
*.dSYM/
*.exe
*.old

/.bootstrap.auto
/.bootstrap.local
/.repos
/.repos/
/addictions
/bin/mulle-homebrew
/dependencies
/mulle-configuration
/tests/mulle-tests
build/
include/
lib/
tmp/
xcuserdata/
tests/@noleak/noleak
tests/CString/cstring
tests/Formatter/dateformatter
tests/NSProcessInfo/arguments
tests/NSProcessInfo/environment
tests/NSProcessInfo/exepath
tests/Paths/extension