.DS_Store

*.debug
*.dSYM/
*.exe
*.old
*.bak
*~.*

/.bootstrap.auto
/.bootstrap.local
/.repos
/.repos/
/addictions
/bin/mulle-homebrew
/dependencies
/mulle-configuration
/tests/mulle-tests
build/
include/
lib/
tmp/
project.xcworkspace/
xcuserdata/
tests/@noleak/noleak
tests/CString/cstring
tests/Formatter/dateformatter
tests/NSProcessInfo/arguments
tests/NSProcessInfo/environment
tests/NSProcessInfo/exepath
tests/Paths/extension
build-xcode.d/
bin/tap-info.sh
tap-info.sh
tests/0_noleak/noleak
tests/Formatter/NSDate/dateformatter
tests/NSCalendarDate/compatible
tests/NSCalendarDate/compatible.osx
tests/NSCalendarDate/file
tests/NSCalendarDate/natural
tests/NSCalendarDate/natural.osx
tests/NSDate/simple
tests/NSDate/simple.osx
/.bootstrap.repos
/stashes
